<!-- this html file is a child of the base.html file so it extends it -->
{% extends "base.html" %}
<!-- this block is used to override the title block in the base.html file -->
{% block title %}Home{% endblock %}

{% block content %}
    <br />
    <h1 align = 'center'>Your Recipes</h1>
    <ul class="list-group list-group-flush" id = "notes">
        {% for note in user.notes %}
            <li class="list-group-item"> {{ note.data }} 
                <button class = 'close' onClick = "deleteNote({{ note.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        {% endfor %}
    </ul>
        
    <form method = 'POST'>
        <textarea name = 'note' id = 'note' class="form-control" placeholder = 'New Note'></textarea>
        <br/>
        <div align = 'center'>
            <button type = 'submit' class = 'btn btn-primary'>Add Recipe</button>
        </div>
    </form>
{% endblock %}


